@import url('https://fonts.googleapis.com/css?family=Lobster|Ubuntu');
body{
    background-color:#464646;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}
iv{
    outline:1px solid black;
}
.header{
    background-color:#464646;
    color:#FFFFFF;
    height:160px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    max-width:900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo{
    margin-top:20px;
    margin-left:340px;
    float:left;
}
.logo img{
    float:left;
    margin-left:auto;
    margin-right: auto;
    max-width:220px;
    max-height: 85px;
}
.link{
    margin-top:20px;
    font-size:1rem;
    margin-left: 40px;
    float:left;
    color:#FFFFFF;
    text-align: center;
}
.link a{
    color:white;
    text-decoration: none;
    margin-left:40px;
    margin-right:40px;
}
.link a:hover{
    color:#ec8f8f;
}
.beaches{
    height:3000px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e4e0e1;
}
.beachesheader{
    color: #555555;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    float:left;
    margin-top:70px;
    margin-left:70px
}
.beachestext{
    color:#555555;
    margin-left:70px;
    margin-top:30px;
    float:left;
    max-width:880px;
    font-size:1rem;
}
.image1{
    max-height:460px;
    float:left;
    margin-top:70px;
    margin-left:350px;
    outline:10px solid #c49d9d;
}
.image2{
    max-height:460px;
    float:left;
    margin-top:70px;
    margin-left:190px;
    border-top:10px solid #c49d9d;
    border-bottom:10px solid #c49d9d;
    border-left:10px solid #c49d9d;
}
.image3{
    max-height:460px;
    float:left;
    margin-top:70px;
    margin-left:0px;
    border-top:10px solid #c49d9d;
    border-bottom:10px solid #c49d9d;
    border-right:10px solid #c49d9d;
}
.image4{
    max-height:390px;
    float:left;
    margin-top:70px;
    margin-left:65px;
    outline:10px solid #c49d9d;
}
.image5{
    max-height:540px;
    float:left;
    margin-top:70px;
    margin-left:70px;
    outline:10px solid #c49d9d;
}
.column{
    float:left;
    margin-top: 75px;
    margin-left: 80px;
    max-width: 48px
}
.footer{
    background-color:#464646;
    height:100px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
}
.copyright{
    color: #ec8f8f;
    font-size: 0.75rem;
    float:left;
    margin-left:30px;
    margin-top:45px;
}
.footer img{
    max-height:40px;
    max-width:40px;
    float:right;
    margin-top:35px;
    margin-right:35px;
}

